h1 {
    color: green;
    font-size:xx-large;
}
h2 {
    color: blue;
    font-size:large
}
ul {
    color:blue;
    font-size: large;
}
h3 {
    color:blue;
    font-size: large;
}
ol {
    color: blue;
    font-size: large;
}
h4 {
    color:blue;
    font-size:large;
}
body {
    background-color:skyblue
}
img {
    width: 300px;
}div {
    color: red; 
    border: 1px outset red; 
    background-color: lightblue; 
    text-align: left;}
span {
    color: blueviolet;
}
span {
    color: blueviolet;
}
span {
    color: violet;
}